.card {
  height: 255px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 18px 35px;
  background: linear-gradient(180deg, #F054B4 0%, #D61E8E 100%);
  color: #fff;
  font-size: 14px;
  line-height: 140%;
  border-radius: 20px;
}

.card__imag {
  margin-bottom: 20px;
}

.card__text {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media(min-width: $tablet-width) {
  .card {
    width: 300px;
    margin-bottom: 0;
  }
}