body .download-button {
  padding: 20px 25px;
  background-color: $accent;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 20px;
    &:hover {
      background: linear-gradient(180deg, #F258B7 0%, #D51C8C 100%);
      color: #fff;
    }
    &:active,
    &:focus {
     
      outline: none;
      // color: #fff;
    }
}

@media(min-width: $tablet-width) {
  .download-button {
    padding: 20px 65px;
    // background-color: $accent;
    // color: #fff;
    // font-size: 22px;
    // font-weight: 500;
  }
}