body .wrapper .text-block__content .download-button {
  padding: 20px 25px;
  background: linear-gradient(180deg, $accent 0%, $accent 100%);
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: normal;
  border-radius: 20px;
    &:hover {
      background: linear-gradient(180deg, #F258B7 0%, #D51C8C 100%);
      color: #fff;
    }
    
    &:active {
      background: linear-gradient(180deg, #B80070 0%, #B80070 100%);
    }
}

@media(min-width: $tablet-width) {
  body .wrapper .text-block__content .download-button {
    padding: 20px 65px;
  }
}